<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		
		<div class="container">

	<header id="navtop">
		<a href="index.html" class="logo fleft">
			<img src="http://aw236.github.io/img/logo1.png" alt="Andrew">
		</a>
		
		<nav class="fright">
			<ul>
				<li><a href="http://aw236.github.io/" class="navactive">Home</a></li>
				<li><a href="http://aw236.github.io/resume/resume.pdf" rel="external" target="_blank">Resume</a></li>
			</ul>
			<ul>
				<li><a href="http://aw236.github.io/projects.html">Projects</a></li>
				<li><a href="http://aw236.github.io/blog/">Blog</a></li>
			</ul>
			<ul>
				<li><a href="http://aw236.github.io/links.html">Links</a></li>
				<li><a href="http://aw236.github.io/contact/contact.html">Contact</a></li>
			</ul>
		</nav>
	</header>
		
		<body>
			<!--
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/resume/resume.pdf">Resume</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>-->
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:aw236@duke.edu">email</a></li>
	        		<li><a href="https://github.com/aw236">github.com/aw236</a></li>
				</ul>
			</footer>
		</body>
	</html>
